<div class="container p-4 md:p-8 lg:p-24 w-full text-white">
    <div class="container">
            <span class="text-4xl">¿Qué es lo que nos espera?</span>
        <div class="p-4 lg:flex space-x-8">
            <div class="sm:w-full lg:w-1/2">
                <p class="text-lg text-justify">
                    No tenemos que demeritar todo el esfuerzo y los logros que se han alcanzado desde que el ser 
                    humano se propuso llegar a la luna, sin embargo, la realidad es que aún nos falta mucho desarrollo 
                    de tecnología para acercarnos al sueño de visitar planetas más allá del sistema Solar.
                    Aunque el alunizaje fue una odisea titánica, hay que reconocer que la Luna se encuentra
                    a "a la vuelta de la esquina" en terminos astronómicos.
                </p>
                <p class="text-lg text-justify">
                    No es ningún secreo que diversas empresas como Space X tienen en la mira otros cuerpos celestes como
                    Marte y no es para menos. Es un planeta similar a la tierra en tamaño y las condiciones (aunque extremas) se 
                    piensan superables con la tecnología actual.
                </p>
            </div>
            <div class="md:w-full lg:w-1/2 h-full">
                <img src="https://static1.abc.es/Media/201505/05/astronautas-marte--644x362.jpg">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="p-4">
            <p class="text-lg text-justify">
                Dejando de lado la loca idea de los "marcianos", tenemos que recordar
                que una pregunta obligada de la exploración espacial es sobre la existencia de vida extraterrestre.
                 Para nuestra sorpresa, es posible que sea descubierta 
                 aquí, en nuestro sistema solar, pues, Europa, satélite natural de Júpiter, es una fuerte
                  candidata a poseer organismos vivos. Esto es porque se sabe que, bajo una capa de hielo, 
                  probablemente exista un mar extraterrestre que pueda albergar seres vivos.
            </p>
            <p class="text-lg text-justify">
                Muchas aspiraciones de la ciencia y la técnica pueden hacerse realidad en pocos años. 
                Desde mejores motores de cohetes hasta descubrimientos científicos revolucionarios son algunas
                de las promesas de la exploración espacial. Hablando desde el aspecto tecnológico, existen
                modelos teóricos de transportes increíbles que reducirían el tiempo de viaje enormemente.
                Entre ellos se encuentra un motor revolucionario,  el Scramjet, capaz de alcanzar velocidades
                 hipersónicas de hasta 15 veces la velocidad del sonido, pero por el momento, se quedan como meros 
                 modelos teóricos que nos dejarán soñando con viajar en el espacio.
            </p>
            <p class="text-lg text-justify">
                Finalmente, te invitamos a que veas este video informativo del Robot de Platón que resume
                puntos muy importantes del viaje interestelar.
            </p>
            <p class="text-lg text-justify">
                Recuerda que al acabar el video, deberás acceder al bot para que te proporcione el link de la evaluación. (EVALUACIÓN)
            </p>
        </div>
    </div>
    <div #demoYouTubePlayer class="demo-youtube-player">
        <h1>¿Cuánto falta para el viaje interestelar?</h1>
        <section>
          <youtube-player videoId="AbZQnMrEY4g" [width]="videoWidth" [height]="videoHeight"></youtube-player>
        </section>
     </div>
    <div class="flex mx-auto container">
        
    </div>
</div>
