<div class="container p-4 md:p-8 lg:p-24 w-full text-white">
    <div class="container">
            <span class="text-4xl">Situación contemporánea de la Exploración Espacial</span>
        <div class="p-4 lg:flex space-x-8">
            <div class="sm:w-full lg:w-1/2">
                <p class="text-lg text-justify">
                    Uno de los centros más importantes en la actualidad para el estudio y exploración del 
                    espacio es la Estación Espacial Internacional. ISS por sus siglas en inglés, es una estación espacial 
                    tripulada que también funciona como centro de investigación. Su administración y gestión
                    corre a cargo de la cooperación internacional: NASA (Estados Unidos), Roscosmos (Rusia), JAXA (Japón),
                    ESA (Europa), y la CSA (Canadá). Es el tercer objeto más brillante en el 
                     cielo después del Sol y la Luna, lo que facilita su observación.</p>
            </div>
            <div class="md:w-full lg:w-1/2 h-full">
                <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/1727F/production/_115174849_mediaitem115174848.jpg">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="p-4">
            <p class="text-lg text-justify">
                La actual Estación Espacial Internacional se diseño originalmente para tener una vida útil de 15 años.
                 Desde su creación han pasado ya 23. Está en completo funcionamento hoy en día, sin embargo, durante los últimos años, el lado ruso muestra
                  preocupación por su estado. Incluso se han llegado a plantear abandonar el proyecto después de 2025.
                A pesar de ello, Estados Unidos (principal inversor) pretende que sus operaciones se extiendan hasta 2030, año
                en el que se espera cesar la misión. 
            </p>
            <p class="text-xl font-bold">Sondas Espaciales</p>
            <p class="text-lg text-justify">
                Aunque la presencia de seres humanos en la Luna es un hecho tecnológico grandioso, 
                la mayoría de los descubrimientos científicos más interesantes han sido hechos por 
                sondas teleguiadas no tripuladas. La primera sonda espacial fue la soviética Luna 2,
                 que llegó a la Luna en 1959. Después de esto siguieron diversas sondas de la Unión
                Soviética y de los Estados Unidos, enviadas a la Luna y diversos planetas.
            </p>
            <p class="text-lg text-justify">
                Han existido muchas sondas lanzadas por diferentes motivos, pero vale la pena recordar unas en particular.
                Las Voyager 1 y 2 que investigaron los planetas externos del sistema solar
                 y abandonaron el sistema solar en un viaje sin retorno por el universo. Actualmente, la Voyager 1 es el satélite
                 artificial más alejado de la tierra
            </p>
            <p class="text-lg text-justify">
                Por otro lado, en 2004 la Sonda Huygens inició su travesía para llegar a Titán, luna de Saturno, habiéndose posado
                en dicha luna con éxito el 14 de enero de 2005. Fue el primer aterrizaje de una nave espacial en otro 
                satélite natural que no sea nuestra Luna. 
            </p>

        </div>
        <div class="p-4 lg:flex space-x-8">
            <div class="md:w-full lg:w-1/2 h-full">
                <img src="https://morgangoldconsulting.com/wp-content/uploads/2019/07/astronauta.jpg">
            </div>
            <div class="sm:w-full lg:w-1/2">
                <span class="text-xl font-bold">Astronautas en la Actualidad</span>
                <p class="text-lg text-justify">
                    Es el sueño de muchos convertirse en astronauta para poder tener las vitas maravillosas vistas desde
                    fuera de la tierra, sin embargo, es bastante más complicado de lo que puede parecer. Cada agencia
                    espacial tiene sus propios parámetros para elegir a sus prospectos, pero a continuación presentamos
                    los requisitos que pide la NASA para poder ser astronauta.
                </p>
                <ul class="list-disc">
                    <li  class="text-lg text-justify">
                        Ser ciudadano estadounidense.
                    </li>
                    <li  class="text-lg text-justify">
                        Poseer una maestría en un campo STEM o CTIM, que incluye ingeniería, ciencias biológicas,
                         ciencias físicas, ciencias de la computación o matemáticas, de una institución acreditada.
                    </li>
                    <li  class="text-lg text-justify">
                        Tener al menos dos años de experiencia profesional relacionada obtenida después de completar
                         el título o al menos 1,000 horas de tiempo de piloto al mando en un avión de reacción.
                    </li>
                    <li  class="text-lg text-justify">
                        Ser capaz de aprobar el examen físico de astronauta de vuelo de larga duración de la NASA
                    </li>
                </ul>
            </div>
            
        </div>
        <div class="container p-4">
            <p class="text-lg text-justify">
                Aún cuando se logre superar todos esos filtros, todavía se tiene que lidiar con los efectos que tiene el
                ir al espacio para el cuerpo humano. Si bien, cada cuerpo es distinto, la mayoría de los astronautas concuerdan
                en que la ingravidez afecta la orientación y algunos procesos fisiológicos, principalmente los relacionados 
                con el sistema de equilibrio. Algunos reportan náuseas, mareos, vómitos, dolores de cabeza, fatiga,
                 malestar general, alucinaciones visuales y desorientación en el espacio.
                De igual manera, otro de los principales efectos de la ingravidez a largo plazo es la pérdida de masa muscular 
                y ósea. Sin gravedad, no hay carga de peso en los músculos de la espalda y las piernas, por lo que estos 
                comienzan a debilitarse y encogerse. Es por eso que los astronautas deben de hacer al menos 2 hrs de ejercicio diarias
             </p>

             <p class="text-lg t">
                 A pesar de ello, el sueño de observar el mundo desde allá arriba seguirá persistiendo en la mente
                 humana.
             </p>
        </div>
    </div>
    <div class="flex mx-auto container">
        <span  class="text-lg text-justify">
            Ahora, es tiempo de vayas al bot y hagas tus preguntas o solicites el link de la siguiente sección (SECCIÓN 3)
        </span>
    </div>
</div>
