<div class="container text-justify rounded-md my-12 p-8 w-4/5 md:w-1/2 text-white mx-auto px-auto">
    <div class="container mx-auto ">
        <p>Antes de comenzar es importante que tengas conocimiento de los parámetros
            bajo los que se está llevando este experimento y que estés de acuerdo con ellos.
        </p>
        <p> El objetivo de la investigación es identificar cómo ciertas emociones afectan al aprendizaje.
            Se te presentará un módulo de aprendizaje intercalado con interacciones con un bot, en caso que
            tengas alguna duda o quieras hacer comentarios.
            Al final de cada sección se te dará el acceso a la herramienta del bot y este te proporcionará
            el acceso a las siguientes secciones del módulo de aprendizaje.
            En ningún momento se te pedirán datos personales que relacionen tus respuestas con tu identidad.
            Únicamente al final del proceso, te pediremos que llenes una encuesta con datos de contacto para
            poder entrar a la rifa.
            En caso de que lo consideres necesario, puedes abandonar el proceso en cualquier momento.
        </p>
        <p>
            Te recomendamos realizar este proceso en una computadora para que la experiencia sea más óptima, aunque
            funciona de igual manera en celular.
        </p>
        <p class="italic">
            
            Entiendo que todas mis respuestas en este estudio son completamente
             confidenciales y se utilizarán únicamente con fines de investigación.
              Si tengo alguna pregunta sobre este estudio o deseo más información,
               puedo comunicarme con los organizadores al correo:</p>
               <p>ivan.celis.ma@gmail.com</p>
        <div class="container mx-auto w-3/5">
            <input type="checkbox" name="my-checkbox" id="opt-in">
            <label class="ml-2 font-bold">He leído y estoy de acuerdo con los términos de mi participación</label>
        </div>
        <div class="flex mx-auto container">
            <div class="m-auto">
                <button class="rounded-md shadow-md font-bold mx-auto p-2 bg-yellow-600 text-white" routerLink="/eels1">Comenzar</button>
            </div>
        </div>
    </div>
    
</div>